html, body {
    margin: 0;
}
#imagem_fundo {
    background: url("fundo.jpg");
    height: 100%;
    text-align: center;
    background-size: cover;
}
#titulo {
    color: #01A15B;
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.6;
    
}
#subtitulo {
    color:  ;
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid white;
    text-shadow: 1px 1px  black;
}
#acao {
    color: #01A15B;
    border: 1px green solid;
    padding: 10px 20px 10px 20px ;
}
.icone {
    width: 51px;
}
section {
    padding: 20px;
    float: left;
}
#projeto{
    background-color: #00FFFF;
}
.projeto{
    background-color: #00FF7F;
}
.imgeco {
    width: 90%;
    height: 30%;
}
.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
}
.dois {
    width: 40%;
    height:55%;
    background-color: #00FFFF;
}
.quatro {
    width: 15%;
}
.tres {
    width: 29%;
    height: 70%;
    padding: 0 2%;
    background-color: #00FFFF;
}
.justificado {
    text-align: justify;
}
.centralizado {
    text-align: center;
}
.cinco{
    width: 40%;
    height:55%;
    background-color: #00FF7F;
}
